@import '../variables';

.cmp-contentlist__home-container {
  width: 90%;
  height: 100vh;
  
  margin: 5rem auto;
  padding: 0;
  box-sizing: border-box;

  * {
    font-family: $font-family-primary;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}