@import '../../variables';

.cmp-contentlist__home-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;

  .cmp-contentlist__home-footer_btn {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    line-height: 30px;
    color: $green100;

    border: 1px solid $green100;
    border-radius: 32px;

    padding: 10px 36px;

    transition: 300ms ease-in-out;

    &:hover {
      background-color: $green100;
      color: $white100;
    }

  }
}